################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CusotmControls/bin/Debug
/CusotmControls/obj/Debug
/packages/IntelHexFormatReader.2.2.3
/PICSim/bin/Debug
/PICSim/obj/Debug
